name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set image tag
      id: vars
      run: echo "TAG=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT

    - name: Build and push image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/eve-app:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/eve-app:${{ steps.vars.outputs.TAG }}

    - name: Print result
      run: echo "Pushed image with tag ${{ steps.vars.outputs.TAG }}"

    - name: Update deployment.yaml in manifest repo
      env:
        SHA_TAG: ${{ steps.vars.outputs.TAG }}
        GH_PAT: ${{ secrets.GH_PAT }}
        MANIFEST_REPO: ${{ secrets.MANIFEST_REPO }}
      run: |
        git config --global user.email "beauriful0321@gmail.com"
        git config --global user.name "Max Jagger's GitHub Actions"

        git clone https://x-access-token:${GH_PAT}@github.com/${MANIFEST_REPO}.git
        cd $(basename ${MANIFEST_REPO})

        # 이미지 태그 변경
        sed -i "s|image: .*$|image: ${DOCKERHUB_USERNAME}/eve-app:${SHA_TAG}|" app/deployment.yaml

        git add app/deployment.yaml
        git commit -m "Update image tag to ${SHA_TAG}"
        git push
